<template>
  <div class="inline-block w-14 text-center font-medium text-gray-500 dark:text-gray-300">{{ pair[1] }}</div>
  <div class="inline-block ml-5 font-medium text-gray-500 dark:text-gray-300">{{ pair[0] }}</div>
</template>

<script setup lang="ts">
  import { PropType } from 'vue'

  const props = defineProps({
    pair: { type: Object as PropType<[string, number]>, required: true }
  })
</script>
