<template>
  <div>
    <section aria-labelledby="filter-heading">
      <h2 id="filter-heading" class="sr-only">Customize notifications</h2>
      <div
        class="py-2 px-4 w-full rounded-lg text-sm font-medium text-center focus:z-0 relative text-gray-500 dark:text-gray-300 hover:text-gray-700 dark:hover:text-gray-200 hover:bg-gray-50 dark:hover:bg-slate-700 bg-white dark:bg-slate-800 ring-1 ring-black dark:ring-slate-700 ring-opacity-5"
      >
        <button type="button" class="text-sm font-medium text-center" @click="open = true">Customize notifications</button>
      </div>
    </section>

    <TransitionRoot as="template" :show="open">
      <Dialog as="div" class="relative z-10" @close="open = false">
        <TransitionChild
          as="template"
          enter="ease-out duration-300"
          enter-from="opacity-0"
          enter-to="opacity-100"
          leave="ease-in duration-200"
          leave-from="opacity-100"
          leave-to="opacity-0"
        >
          <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" />
        </TransitionChild>

        <div class="fixed z-10 inset-0 overflow-y-auto">
          <div class="flex items-end sm:items-center justify-center min-h-full p-4 text-center sm:p-0">
            <TransitionChild
              as="template"
              enter="ease-out duration-300"
              enter-from="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
              enter-to="opacity-100 translate-y-0 sm:scale-100"
              leave="ease-in duration-200"
              leave-from="opacity-100 translate-y-0 sm:scale-100"
              leave-to="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
            >
              <DialogPanel
                class="relative bg-white dark:bg-slate-800 rounded-lg px-4 pt-5 pb-4 text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:h-4/5 sm:w-3/4 sm:p-6"
              >
                <div>
                  <div>
                    <div class="flex flex-col items-center justify-center">
                      <h3 id="headlessui-dialog-title-23" class="text-2xl leading-6 font-medium text-gray-900 dark:text-gray-100 mb-2">
                        Customize Notifications
                      </h3>
                      <p class="text-gray-500 dark:text-gray-300">Set the notifications you would like to receive</p>
                    </div>
                    <div class="flex justify-center my-8 gap-16">
                      <button
                        v-for="moduleTemplate in pnTemplates"
                        :key="moduleTemplate"
                        :value="moduleTemplate.settings.name"
                        @click="selected = $event.target.value.toLowerCase()"
                        type="button"
                        class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-emerald-600 dark:bg-emerald-400 text-base font-medium text-white dark:text-slate-800 hover:bg-emerald-700 dark:hover:bg-emerald-200 focus:outline-none focus:ring-2 focus:ring-emerald-500 dark:focus:ring-emerald-100 sm:ml-3 sm:w-auto sm:text-sm"
                      >
                        {{ moduleTemplate.settings.name }}
                      </button>
                    </div>
                  </div>

                  <div class="sm:mx-4 sm:my-6">
                    <ul role="list" class="grid grid-cols-1 sm:gap-4 sm:grid-cols-2 lg:grid-cols-3">
                      <li
                        v-for="(configTemplate, index) in sortingArrayOfObjects(pnTemplates[selected].operations, 'opType')"
                        :key="index"
                        :value="configTemplate.opType"
                        @click="activeSelection(configTemplate)"
                        @mouseover="hoverEvent(index)"
                        @mouseleave="hoverEvent(-1)"
                        class="block hover:bg-gray-50 hover:rounded-md dark:hover:bg-slate-700 hover:dark:rounded-md cursor-pointer"
                      >
                        <div class="flex justify-between items-center border border-dashed border-gray-200 dark:border-slate-600 rounded-lg">
                          <div class="flex grow items-center sm:px-4 sm:py-2 sm:w-4/5 truncate">
                            <input
                              :name="configTemplate"
                              v-model="configTemplate.active"
                              @change="change(configTemplate, $event.target.checked)"
                              @click="$event.stopPropagation()"
                              type="checkbox"
                              class="h-4 w-4 border-gray-300 dark:border-slate-500 rounded text-emerald-600 focus:ring-emerald-500 dark:focus:ring-emerald-100 dark:text-slate-800 dark:bg-slate-800"
                            />

                            <div class="flex-1 flex items-center justify-between rounded-r-md truncate">
                              <div class="flex-1 px-4 py-2 text-sm truncate">
                                <p class="font-medium text-gray-900 dark:text-gray-100 truncate">
                                  <span v-if="configTemplate.title">{{ configTemplate.title }}</span>
                                  <span v-else-if="configTemplate.opType == 'custom_json'"
                                    >{{ splitAndCapitalize(configTemplate.template.id.default.replace(pnTemplates[selected].settings.prefix, '')) }}
                                  </span>
                                  <span v-else>{{ splitAndCapitalize(configTemplate.opType) }}</span>
                                </p>
                              </div>
                              <div class="flex-shrink-0 pr-2"></div>
                            </div>
                          </div>
                          <div class="flex items-center sm:pl-2 sm:pr-4">
                            <div v-if="hovering === index" class="flex flex-col items-center">
                              <ChevronUpIcon class="h-4 w-4 text-gray-400" aria-hidden="true" />
                              <ChevronDownIcon class="h-4 w-4 text-gray-400" aria-hidden="true" />
                            </div>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>

                  <div v-if="advancedView" class="w-full max-w-7xl mx-auto xl:px-8 lg:flex">
                    <div class="flex-1 min-w-0 bg-white dark:bg-slate-800 xl:flex">
                      <div class="bg-gray-50 dark:bg-slate-700 rounded-lg lg:min-w-0 lg:flex-1">
                        <div class="h-full py-6 px-4 sm:px-6 lg:px-8">
                          <div class="relative h-full" style="min-height: 24rem">
                            <div class="absolute inset-0 border-2 border-gray-200 dark:border-slate-400 border-dashed rounded-lg overflow-y-auto">
                              <p class="my-2 text-center dark:text-gray-100">
                                Advanced <span class="text-emerald-400 font-semibold">{{ splitAndCapitalize(opType) }}</span> operations view
                              </p>
                              <CustomizeNotificationInput :template="template"></CustomizeNotificationInput>
                              <ErrorMessageModal @closeErrorModal="closeErrorModal" :jsonError="jsonError" :errorMessage="errorMessage"></ErrorMessageModal>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="mt-8 sm:flex sm:flex-row-reverse">
                    <button
                      type="button"
                      class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-emerald-600 dark:bg-emerald-400 text-base font-medium text-white dark:text-slate-800 hover:bg-emerald-700 dark:hover:bg-emerald-200 focus:outline-none focus:ring-2 focus:ring-emerald-500 dark:focus:ring-emerald-100 sm:ml-3 sm:w-auto sm:text-sm"
                      @click="saveSubs()"
                      ref="saveButtonRef"
                    >
                      Save
                    </button>
                    <button
                      type="button"
                      class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 dark:border-slate-500 shadow-sm px-4 py-2 bg-white dark:bg-slate-800 text-base font-medium text-gray-700 dark:text-gray-200 hover:bg-gray-50 dark:hover:bg-slate-700 focus:outline-none focus:ring-2 focus:ring-emerald-500 dark:focus:ring-emerald-100 sm:mt-0 sm:w-auto sm:text-sm"
                      @click="open = false"
                      ref="cancelButtonRef"
                    >
                      Close
                    </button>
                    <!-- Testing -->
                    <button
                      type="button"
                      class="mt-3 mr-3 w-full inline-flex justify-center rounded-md border border-gray-300 dark:border-slate-500 shadow-sm px-4 py-2 bg-white dark:bg-slate-800 text-base font-medium text-gray-700 dark:text-gray-200 hover:bg-gray-50 dark:hover:bg-slate-700 focus:outline-none focus:ring-2 focus:ring-emerald-500 dark:focus:ring-emerald-100 sm:mt-0 sm:w-auto sm:text-sm"
                      @click="deleteAccount()"
                      ref="deleteButtonRef"
                    >
                      Delete Notification Account
                    </button>
                    <!-- End testing-->
                  </div>
                </div>
              </DialogPanel>
            </TransitionChild>
          </div>
        </div>
      </Dialog>
    </TransitionRoot>
  </div>
</template>

<script setup lang="ts">
  import { ref } from 'vue'
  import { Dialog, DialogPanel, TransitionChild, TransitionRoot } from '@headlessui/vue'
  import { findByMatching, hasMatch, matchesExactly } from '../helpers/matching'
  import { getNotificationPackages } from '../helpers/definitions'
  import { splitAndCapitalize } from '~/common/helpers/formatter'
  import { ChevronDownIcon, ChevronUpIcon } from '@heroicons/vue/outline'
  import CustomizeNotificationInput from './CustomizeNotificationInput.vue'
  import ErrorMessageModal from './ErrorMessageModal.vue'
  import {
    buildTemplateFromConfig,
    configItemFromOperation,
    generateTemplates,
    populateTemplates,
    buildUpdateNotificationSubsJson,
    validateTemplateElement,
    indexTemplates,
    IPnTemplatess
  } from '../helpers/pnFrontendHelper'
  import { sendCustomJson } from '~/common/api/hiveApi'

  const props = defineProps<{
    accountData: {
      id: string
      created: Date
      updated: Date
      email: string
      config: Array<{ operation: string; conditions: any }>
    }
    pnTemplates: any
  }>()

  const open = ref(false)
  const selected = ref('core')
  const opType = ref('')
  const template = ref({})
  const hovering = ref(-1)
  const advancedView = ref(false)
  const jsonError = ref(false)
  const errorMessage = ref('')

  const username = props.accountData.id
  const config = props.accountData.config
  const pnTemplates = props.pnTemplates
  const NotificationPackages = getNotificationPackages(username)

  const activeSelection = (e: Object) => {
    if (opType.value !== e.opType) {
      advancedView.value = true
      // Object.keys(template.value).length > 1 ? (advancedView.value = true) : (advancedView.value = false)
    } else {
      advancedView.value = !advancedView.value
    }

    opType.value = e.opType
    template.value = e.template
    //constants.value = e.constants
  }

  const hoverEvent = (index: number) => {
    hovering.value = index
  }

  const sortingArrayOfObjects = (array: Array<any>, property: string) => {
    array.sort((a, b) => {
      if (a[property] < b[property]) return -1
      return a[property] > b[property] ? 1 : 0
    })
    return array
  }

  const change = (activeField: Object, checked: Boolean) => {
    checked ? (activeField.active = true) : (activeField.active = false)
    //console.log(activeField)
    //console.log(pnTemplates.value)
  }

  const saveSubs = async () => {
    const buildJson = buildUpdateNotificationSubsJson(pnTemplates, config)
    if (buildJson.error) {
      jsonError.value = true
      errorMessage.value = buildJson.error
    }
    const json = buildJson.json
    if (!json) {
      return
    }
    const message = `Update notification subscription${json[1].length > 1 ? 's' : ''}`
    const res = await sendCustomJson(username, 'notify', 'Posting', json, message)
    console.log(res)
    open.value = false
  }

  const closeErrorModal = () => {
    jsonError.value = false
  }

  const deleteAccount = async () => {
    await sendCustomJson(username, 'notify', 'Posting', JSON.stringify(['delete_account']), 'Delete Peak Notifications Account')
  }

  // ______________ Testing ____________ //

  // PACKS HANDLER
  /*let matchingPacksMap: any = {}
  for (const packageName in NotificationPackages) {
    const matches = findByMatching(config, NotificationPackages[packageName], matchesExactly)
    matchingPacksMap[packageName] = matches.length == NotificationPackages[packageName].length
  }
  console.log(matchingPacksMap)*/

  /*pnTemplates.value = populateTemplates(pnTemplates.value, [
    {
      operation: 'comment',
      conditions: { permlink: { '!=': 'culo' } }
    },
    {
      operation: 'custom_json',
      conditions: {
        id: { '==': 'sm_token_transfer' },
        //required_auths: { '==': 'culo' },
        json: {
          to: { '==': 'culo1' },
          qty: { '>': 500 }
        }
      }
    }
  ])*/

  //console.log(configItemFromOperation(pnTemplates.value.splinterlands.operations[0]))

  /*window.hive_keychain.requestCustomJson(
    username,
    'notify',
    'Posting',
    JSON.stringify(json),
    `Update notification subscription${json[1].length > 1 ? 's' : ''}`,
    (res: any) => console.log(res)
  )*/
</script>
