<template>
  <div class="py-4 sm:py-5 sm:grid sm:grid-cols-4 sm:gap-4 sm:px-6">
    <dt class="text-sm font-medium text-gray-500 dark:text-gray-300">HE Block</dt>
    <dd class="mt-1 text-sm text-gray-900 dark:text-gray-100 sm:mt-0 sm:col-span-3">
      {{ data.blockNumber }}
    </dd>
  </div>
  <div v-if="data.transactionId.length > 40" class="py-4 sm:py-5 sm:grid sm:grid-cols-4 sm:gap-4 sm:px-6">
    <dt class="text-sm font-medium text-gray-500 dark:text-gray-300">HE Transaction:</dt>
    <dd class="mt-1 text-sm text-gray-900 dark:text-gray-100 sm:mt-0 sm:col-span-3">
      {{ data.transactionId }}
    </dd>
  </div>
  <div class="py-4 sm:py-5 sm:grid sm:grid-cols-4 sm:gap-4 sm:px-6">
    <dt class="text-sm font-medium text-gray-500 dark:text-gray-300">Raw data</dt>
    <dd class="mt-1 text-sm text-gray-900 dark:text-gray-100 sm:mt-0 sm:col-span-3">
      <pre
        v-for="field in fields"
        :key="field"
        :class="[settingsStore.settings.jsonFontSize ? 'text-xs' : 'text-sm', 'whitespace-pre-wrap break-all']"
        class="whitespace-pre-wrap break-all"
      ><span class="font-bold">{{ field }}</span>: {{ (settingsStore.settings.jsonRendering && ['payload', 'logs'].includes(field))? formatJson(data[field]) : data[field]}}</pre>
    </dd>
  </div>
</template>

<script setup lang="ts">
  import { formatJson } from '~/common/helpers/formatter'
  import { useSettingsStore } from '~/stores/settings'

  const settingsStore = useSettingsStore()

  const props = defineProps<{
    data: any
  }>()

  const excludedFields = ['blockNumber', 'transactionId']
  const fields = props.data ? Object.keys(props.data).filter(field => !excludedFields.includes(field)) : []
</script>
