<template>
  <div class="flex flex-col rounded-md shadow ring-1 ring-black ring-opacity-5">
    <div class="-my-2 -mx-4 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
        <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 md:rounded-lg">
          <table class="min-w-full divide-y divide-gray-300">
            <thead class="bg-gray-50">
              <tr>
                <th scope="col" colspan="3" class="whitespace-nowrap px-3 py-2 text-left text-sm font-medium text-gray-900">Order Book</th>
              </tr>
            </thead>
            <thead>
              <tr>
                <th scope="col" width="33%" class="whitespace-nowrap pl-3 py-1 text-left text-xs text-gray-800 font-medium">Price (HBD)</th>
                <th scope="col" width="33%" class="whitespace-nowrap px-2 py-1 text-right text-xs text-gray-800 font-medium">Amount (HIVE)</th>
                <th scope="col" width="33%" class="whitespace-nowrap pr-3 px-2 py-1 text-right text-xs text-gray-800 font-medium">Total</th>
              </tr>
            </thead>
            <tbody class="divide-y divide-gray-200 bg-white">
              <tr v-for="(order, index) in orders" :key="index">
                <td
                  @click="marketStore.setHIVEHBD(order.hbd / order.hive)"
                  class="whitespace-nowrap pl-3 py-1.5 text-xs text-left font-medium"
                  :class="order.buy ? 'text-green-600' : 'text-red-500'"
                >
                  {{ parseFloat(order.real_price).toFixed(4) }}
                </td>
                <td class="whitespace-nowrap px-2 py-1.5 text-xs text-right">{{ formatCurrency(order.hive / 1000, '0,0.000') }}</td>
                <td class="whitespace-nowrap pr-3 px-2 py-1.5 text-xs text-right">{{ formatCurrency(order.hbd / 1000, '0,0.000') }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
  import { useMarketStore } from '~/stores/market'
  import { formatCurrency } from '~/common/helpers/formatter'
  import { nonRepeatingAsks, nonRepeatingBids } from '~/common/helpers/hiveFunctions'

  const marketStore = useMarketStore()

  const orders = computed(() => {
    const orderBookBids = nonRepeatingBids.value
      .map((b, index, array) => {
        const volume = array.reduce((result, obj, i) => (i <= index ? result + obj.hbd / 1000 : result), 0)
        return { ...b, buy: true, volume }
      })
      .slice(0, 18)
    const orderBookAsks = nonRepeatingAsks.value
      .map((b, index, array) => {
        const volume = array.reduce((result, obj, i) => (i <= index ? result + obj.hbd / 1000 : result), 0)
        return { ...b, buy: false, volume }
      })
      .slice(0, 18)
      .reverse()

    return orderBookAsks.concat(orderBookBids)
  })

  onMounted(async () => {})
</script>
