<template>
  <div class="text-ellipsis">
    <pre
      v-for="key in keys"
      :key="key"
      class="whitespace-pre-wrap break-all mb-0.5"
      :class="settingsStore.settings.jsonFontSize ? 'text-xs' : 'text-sm'"
    ><span class="font-bold">{{ key }}</span>: <span style="overflow-wrap: break-word; word-break: normal;">{{ (settingsStore.settings.jsonRendering && (key === 'json')) ? formatJson(opData[key]) : opData[key]}}</span></pre>
  </div>
</template>

<script setup lang="ts">
  import { Operation } from '@hiveio/dhive'
  import { formatJson } from '~/common/helpers/formatter'
  import { useSettingsStore } from '~/stores/settings'

  const settingsStore = useSettingsStore()

  const props = defineProps<{
    op: Operation
  }>()

  const opData = props.op[1]
  const keys = Object.keys(opData)
</script>
