<template>
  <router-link :to="`/b/${block.block_num}`" class="block hover:bg-gray-50 dark:hover:bg-slate-700">
    <div class="px-4 py-4 flex items-center sm:px-6">
      <div class="min-w-0 flex-1 sm:flex sm:items-center sm:justify-between">
        <div class="truncate">
          <div class="flex text-sm">
            Block&nbsp;<span class="font-medium text-emerald-600 dark:text-emerald-400">{{ block.block_num }}</span
            >&nbsp;with {{ block.transactions.length }} transactions&nbsp;<span class="text-gray-500 dark:text-gray-300">|</span>&nbsp;
            <AccountAvatar :account="block.witness" class="mr-1" imgClass="h-5 w-5"></AccountAvatar>
            <router-link :to="`/@${block.witness}`" class="font-medium text-emerald-600 dark:text-emerald-400">{{ block.witness }}</router-link>
          </div>
          <div class="mt-2 flex">
            <div class="flex items-center text-xs text-gray-500 dark:text-gray-300">
              <p>
                <time :datetime="block.timestamp">{{ timeago }}</time> ago
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="ml-5 flex-shrink-0">
        <ChevronRightIcon class="h-5 w-5 text-gray-400" aria-hidden="true"></ChevronRightIcon>
      </div>
    </div>
  </router-link>
</template>

<script setup lang="ts">
  import { ChevronRightIcon } from '@heroicons/vue/solid'
  import { addMinutes, formatDistanceStrict } from 'date-fns'
  import { SignedBlock } from '@hiveio/dhive/lib/chain/block'

  const props = defineProps<{
    block: SignedBlock
  }>()

  const now = new Date()
  const timeago = computed(() => formatDistanceStrict(new Date(props.block.timestamp), addMinutes(now, now.getTimezoneOffset())))
</script>
