<template>
  <div class="bg-white dark:bg-slate-800 rounded-lg shadow ring-1 ring-black dark:ring-slate-700 ring-opacity-5">
    <div class="max-w-7xl mx-auto py-12 px-4 text-center sm:px-6 lg:px-8 lg:py-24">
      <div class="space-y-12">
        <div class="space-y-5 sm:mx-auto sm:max-w-xl sm:space-y-4 lg:max-w-5xl">
          <h2 class="text-3xl font-extrabold tracking-tight sm:text-4xl">{{ t('team.title') }}</h2>
          <p class="text-xl text-gray-500 dark:text-gray-300">Passionate about Hive and Blockchain from all over the world</p>
        </div>
        <ul role="list" class="mx-auto space-y-16 sm:grid sm:grid-cols-2 sm:gap-16 sm:space-y-0 lg:grid-cols-3 lg:max-w-5xl">
          <li v-for="member in randomizedTeam" :key="member.name">
            <div class="space-y-6">
              <img class="mx-auto h-40 w-40 rounded-full xl:w-56 xl:h-56" :src="`https://images.hive.blog/u/${member.name}/avatar/medium`" :alt="member.name" />
              <div class="space-y-2">
                <div class="text-lg leading-6 font-medium space-y-1">
                  <h3>@{{ member.name }}</h3>
                  <p class="text-emerald-600 dark:text-emerald-400 text-sm">{{ member.role }}</p>
                </div>
                <ul role="list" class="flex justify-center space-x-5">
                  <li v-for="link in member.links" :key="link.url">
                    <a :href="link.url" class="text-gray-500 dark:text-gray-300 hover:text-gray-600 dark:hover:text-gray-200">
                      <img :src="link.icon" class="w-5 h-5 grayscale opacity-50 dark:invert" aria-hidden="true" />
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
  import PeakdLogo from '~/assets/images/icons/peakd.svg'
  import EcencyLogo from '~/assets/images/icons/ecency.svg'
  import HiveBlogLogo from '~/assets/images/icons/hive-blog.svg'

  const { t } = useI18n()

  const team = [
    {
      name: 'asgarth',
      role: 'Developer',
      links: [
        { url: 'https://peakd.com/@asgarth', icon: PeakdLogo },
        { url: 'https://ecency.com/@asgarth', icon: EcencyLogo },
        { url: 'https://hive.blog/@asgarth', icon: HiveBlogLogo }
      ]
    },
    {
      name: 'jarvie',
      role: 'UX/Feedback',
      links: [
        { url: 'https://peakd.com/@jarvie', icon: PeakdLogo },
        { url: 'https://ecency.com/@jarvie', icon: EcencyLogo },
        { url: 'https://hive.blog/@jarvie', icon: HiveBlogLogo }
      ]
    },
    {
      name: 'yozen',
      role: 'Developer',
      links: [
        { url: 'https://peakd.com/@yozen', icon: PeakdLogo },
        { url: 'https://ecency.com/@yozen', icon: EcencyLogo },
        { url: 'https://hive.blog/@yozen', icon: HiveBlogLogo }
      ]
    },
    {
      name: 'igormuba',
      role: 'Developer',
      links: [
        { url: 'https://peakd.com/@igormuba', icon: PeakdLogo },
        { url: 'https://ecency.com/@igormuba', icon: EcencyLogo },
        { url: 'https://hive.blog/@igormuba', icon: HiveBlogLogo }
      ]
    },
    {
      name: 'mirafun',
      role: 'Developer',
      links: [
        { url: 'https://peakd.com/@mirafun', icon: PeakdLogo },
        { url: 'https://ecency.com/@mirafun', icon: EcencyLogo },
        { url: 'https://hive.blog/@mirafun', icon: HiveBlogLogo }
      ]
    },
    {
      name: 'mozzie5',
      role: 'Content Writer',
      links: [
        { url: 'https://peakd.com/@mozzie5', icon: PeakdLogo },
        { url: 'https://ecency.com/@mozzie5', icon: EcencyLogo },
        { url: 'https://hive.blog/@mozzie5', icon: HiveBlogLogo }
      ]
    }
  ]

  const randomizedTeam = team
    .map(value => ({ value, sort: Math.random() }))
    .sort((a, b) => a.sort - b.sort)
    .map(({ value }) => value)
</script>
