<template>
  <component :is="outerComponent.tag" v-bind="outerComponent.attributes">
    <img
      v-if="imageSrc"
      :src="imageSrc"
      class="inline-block rounded-full border border-gray-300 dark:border-slate-700"
      :class="imgClass"
      :alt="account"
      @error="onError"
    />
    <span
      v-else
      class="inline-flex items-center justify-center rounded-full"
      :class="imgClass || 'w-full h-full'"
      :style="`color: ${fgColor}; background-color: ${bgColor}`"
    >
      <span class="text-sm font-medium leading-none">{{ account.slice(0, 2).toUpperCase() }}</span>
    </span>
  </component>
</template>

<script setup lang="ts">
  import { colorFromString, invertColor } from '~/common/helpers/utils'

  const props = defineProps<{
    account: string
    size?: string
    imgClass?: string
    static?: boolean
  }>()

  const imageSrc = ref(`https://images.hive.blog/u/${props.account}/avatar/${props.size || 'small'}`)
  const fgColor = ref('')
  const bgColor = ref('')

  const onError = (event: any) => {
    imageSrc.value = ''
    fgColor.value = colorFromString(props.account)
    bgColor.value = invertColor(fgColor.value)
  }

  const outerComponent = props.static
    ? { tag: 'div', attributes: {} }
    : {
        tag: 'router-link',
        attributes: { to: `/@${props.account}` }
      }
</script>
