<template>
  <Disclosure as="nav" v-slot="{ open }">
    <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
      <div class="relative flex items-center justify-between h-16">
        <div class="flex grow items-center px-2 lg:px-0">
          <router-link to="/" class="flex-shrink-0">
            <img class="block lg:hidden h-8 w-auto" :src="LogoIcon" :alt="`${appName}`" />
            <img class="hidden lg:block h-8 w-auto" :src="Logo" :alt="`${appName}`" />
          </router-link>

          <div class="sm:block md:hidden xl:block backdrop-blur-sm bg-slate-700/50 rounded-md ml-5 px-3 py-2 text-white text-xs">
            <span v-if="!hivePrice || !hbdPrice">Loading ...</span>
            <template v-else
              ><span class="mr-2"
                >HIVE: <span class="font-semibold">${{ hivePrice.toFixed(4) }}</span></span
              >
              |
              <span class="ml-2"
                >HBD: <span class="font-semibold">${{ hbdPrice.toFixed(4) }}</span></span
              ></template
            >
          </div>

          <div class="hidden md:block lg:ml-6 grow">
            <div class="flex items-center justify-end space-x-4">
              <template v-for="item in navigation" :key="item.name">
                <Menu v-if="item.pages" as="div" class="relative inline-block text-left">
                  <div>
                    <MenuButton
                      class="px-3 py-2 rounded-md text-sm font-medium"
                      :class="item.current ? 'bg-slate-900 text-white' : 'text-slate-300 hover:bg-slate-900/30 hover:text-white'"
                      >{{ item.name }} <ChevronDownIcon class="h-4 w-4 ml-1 inline"></ChevronDownIcon
                    ></MenuButton>
                  </div>

                  <transition
                    enter-active-class="transition ease-out duration-100"
                    enter-from-class="transform opacity-0 scale-95"
                    enter-to-class="transform opacity-100 scale-100"
                    leave-active-class="transition ease-in duration-75"
                    leave-from-class="transform opacity-100 scale-100"
                    leave-to-class="transform opacity-0 scale-95"
                  >
                    <MenuItems
                      class="text-xs md:absolute md:right-0 relative mt-2 w-max rounded-md shadow-lg bg-slate-900 text-white ring-1 ring-black dark:ring-slate-700 ring-opacity-0 focus:outline-none z-50"
                    >
                      <MenuItem v-for="page in item.pages" :key="page.name">
                        <div class="py-1 flex">
                          <router-link :to="page.to" class="flex grow justify-start px-4 py-2 hover:bg-slate-800">
                            <p class="block px-4 py-1">{{ page.name }}</p>
                          </router-link>
                        </div>
                      </MenuItem>
                    </MenuItems>
                  </transition>
                </Menu>
                <router-link
                  v-else
                  :to="item.to"
                  class="px-3 py-2 rounded-md text-sm font-medium"
                  :class="item.current ? 'bg-slate-900 text-white' : 'text-slate-300 hover:bg-slate-900/30 hover:text-white'"
                  >{{ item.name }}</router-link
                >
              </template>

              <div class="flex items-center">
                <SettingsMenu></SettingsMenu>
              </div>
            </div>
          </div>
        </div>

        <div class="flex md:hidden">
          <!-- Mobile menu button -->
          <DisclosureButton
            class="inline-flex items-center justify-center p-2 rounded-md text-white bg-slate-900 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
          >
            <MenuIcon v-if="!open" class="block h-6 w-6" aria-hidden="true"></MenuIcon>
            <XIcon v-else class="block h-6 w-6" aria-hidden="true"></XIcon>
          </DisclosureButton>
        </div>
      </div>
    </div>

    <DisclosurePanel class="md:hidden">
      <div class="px-2 pt-2 pb-3 space-y-1">
        <template v-for="item in navigation.flatMap(i => i.pages || i)" :key="item.name">
          <router-link
            v-if="item.local"
            :to="item.to"
            :class="[
              item.current ? 'bg-slate-900 text-white' : 'text-slate-300 hover:bg-slate-900/30 hover:text-white',
              'block px-3 py-2 rounded-md text-base font-medium'
            ]"
            >{{ item.name }}</router-link
          >
          <a
            v-else
            :href="item.to"
            target="_blank"
            class="text-slate-300 hover:bg-slate-900/30 hover:text-white block px-3 py-2 rounded-md text-base font-medium"
            >{{ item.name }} ></a
          >
        </template>
      </div>
    </DisclosurePanel>
  </Disclosure>
</template>

<script setup lang="ts">
  import { ChevronDownIcon } from '@heroicons/vue/solid'
  import { MenuIcon, XIcon } from '@heroicons/vue/outline'
  import Logo from '~/assets/images/hivehub_light.svg'
  import LogoIcon from '~/assets/images/hivehub_icon.svg'
  import { useTokenPricesStore } from '~/stores/tokenPrices'
  import { config as explorerConfig } from '~/explorer/config'
  import { config as marketConfig } from '~/market/config'
  import { config as statsConfig } from '~/stats/config'
  import { config as multisignConfig } from '~/multisign/config'

  const appName = import.meta.env.VITE_APP_TITLE

  const { t } = useI18n()

  const route = useRoute()

  const isExplorerEnabled = explorerConfig.enabled
  const isMarketEnabled = marketConfig.enabled
  const isStatsEnabled = statsConfig.enabled
  const isMultisignEnabled = multisignConfig.enabled

  const navigation = computed(() => {
    const links = []

    if (isExplorerEnabled) {
      links.push({
        name: t('pages.explorer'),
        to: '/',
        local: true,
        current: route.name && ['home', 'blocks', 'block', 'transaction', 'account'].includes(route.name.toString())
      })
      links.push({
        name: 'Governance',
        pages: [
          { name: t('pages.witnesses'), to: '/witnesses', local: true },
          { name: t('pages.proposals'), to: '/proposals', local: true }
        ],
        current: ['witnesses', 'witnesses-hive-engine', 'proposals'].includes(String(route.name))
      })
    }

    if (isMarketEnabled) {
      links.push({ name: t('pages.market'), to: '/market', local: true, current: route.name === 'market' })
    }

    if (isStatsEnabled) {
      links.push({ name: t('pages.stats'), to: '/stats', local: true, current: route.name === 'stats' })
    }

    if (isMultisignEnabled) {
      links.push({
        name: 'Tools',
        pages: [{ name: t('pages.multisign'), to: '/multisign', local: true }],
        current: route.name === 'multisign'
      })
    }

    return links
  })

  const tokenPricesStore = useTokenPricesStore()
  const hivePrice = computed(() => tokenPricesStore.hivePrice)
  const hbdPrice = computed(() => tokenPricesStore.hbdPrice)

  // lifecycle hooks
  onMounted(() => {
    tokenPricesStore.refreshTokenPrices()
  })
</script>
