<template>
  <div class="bg-white dark:bg-slate-800 shadow ring-1 ring-black dark:ring-slate-700 ring-opacity-5 rounded-lg px-5 py-6 sm:px-6">
    <div class="px-4 py-5 sm:p-0">
      <dl v-if="props.placeholders && loadingPlaceholders[props.placeholders]" class="sm:divide-y sm:divide-gray-200 dark:divide-slate-700">
        <div
          v-for="text in loadingPlaceholders[props.placeholders]"
          :key="text"
          class="animate-pulse first-letter:py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6"
        >
          <dt class="text-sm font-medium text-gray-500 dark:text-gray-300">{{ text }}</dt>
          <dd class="mt-1 text-sm text-gray-900 dark:text-gray-100 sm:mt-0 sm:col-span-2">
            <div class="h-2 bg-slate-200 dark:bg-slate-600 rounded"></div>
          </dd>
        </div>
      </dl>
      <ul v-else role="list" class="divide-y divide-gray-200 dark:divide-slate-700">
        <li v-for="index in 20" :key="index" class="animate-pulse flex space-x-4">
          <div class="flex-1 space-y-6 py-6 pl-4 pr-3 sm:pl-6">
            <div class="h-4 bg-slate-200 dark:bg-slate-600 rounded"></div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</template>

<script setup lang="ts">
  const props = defineProps<{
    placeholders?: string
  }>()

  const loadingPlaceholders = {
    block: ['Block ID', 'Timestamp', 'Witness', 'Transactions', 'Accounts'],
    transaction: ['Hash', 'Block', 'Timestamp', 'Account', 'Raw data']
  }
</script>
