<template>
  <div class="flex flex-col min-h-full h-screen dark:text-white">
    <div
      class="pb-32"
      style="background: rgb(30, 41, 59); background: linear-gradient(160deg, rgba(30, 41, 59, 1) 0%, rgba(30, 41, 59, 1) 35%, rgba(15, 118, 110, 1) 100%)"
    >
      <AppHeader></AppHeader>

      <SearchBar v-if="route.meta && route.meta.module === 'explorer'"></SearchBar>

      <PageHeader></PageHeader>
    </div>

    <main class="flex-1 -mt-32">
      <div class="mx-auto pb-12 px-4 sm:px-6 lg:px-8" :class="route.meta && route.meta.expand ? 'max-w-full' : 'max-w-7xl'">
        <RouterView v-if="!hasError" v-slot="{ Component, route }" :key="route.path">
          <template v-if="Component">
            <Transition mode="out-in">
              <KeepAlive>
                <Suspense>
                  <!-- main content -->
                  <component :is="Component" :key="route.path"></component>

                  <!-- loading state -->
                  <template #fallback>
                    <LoadingPanel :placeholders="route.name"></LoadingPanel>
                  </template>
                </Suspense>
              </KeepAlive>
            </Transition>
          </template>
        </RouterView>

        <div v-else class="bg-white dark:bg-slate-800 rounded-lg shadow ring-1 ring-black dark:ring-slate-700 ring-opacity-5 px-5 py-6 sm:px-6">
          <ErrorMessage></ErrorMessage>
        </div>
      </div>
    </main>

    <AppFooter></AppFooter>
  </div>
</template>

<script setup lang="ts">
  import LoadingPanel from './common/components/LoadingPanel.vue'
  import { useSettingsStore } from '~/stores/settings'

  useSettingsStore()

  useHead({
    title: import.meta.env.VITE_APP_TITLE,
    meta: [
      { name: 'description', content: import.meta.env.VITE_APP_DESC },
      { name: 'theme-color', content: '#1e293b' }
    ],
    link: [
      {
        rel: 'icon',
        type: 'image/svg+xml',
        href: '/favicon.svg'
      }
    ]
  })

  const hasError = ref(false)

  const route = useRoute()

  console.log(route.meta)

  watch(
    () => route.fullPath,
    async () => {
      hasError.value = false
    }
  )

  onErrorCaptured((err, vm, info) => {
    console.error('Error loading data: ' + err)
    hasError.value = true
  })
</script>
